%h2 About Me
%h3
  This page is about me and my goals as a programer. I currently work at a grocery store and haven't had much time to myself as of late. Well technically I just need down time and I can't concentrate hard enough to work constantly on my coding. Sometimes in my freetime I also like to do art. I'm not very consisntent with my artistic endeavors but sometimes they come out pretty good like the monkey with birds coming out of his thoughts.I have two main goals for my coding so far, they both are at least a few years down the line unfortunately. I am hoping to get a well paying job as a programer with a steady pay schedule once I feel like my abilities are up to the task. I also want to work for my self eventually and create my own comany, or partner with a family member. For now my vision is a clothing company but we'll see about that later.

= image_tag('http://scontent-b.cdninstagram.com/hphotos-prn/t51.2885-15/10296589_660930413979691_2071186820_n.jpg')
