head{
}

body{
  background-color: #E1C883;
  margin: 0;
  padding: 0px 50px 0px 50px;
}

h1{
  color: #060930;
  background: #8A8A8A;
  margin: 0;
  padding: 20px;
  text-align: center;
}

h2{
  color: #060930;
  margin: 5px;
}

h3{
  color: #060930;
  margin: 5px;
  padding: 5px;
}

div{
  text-align: left;
  padding: 5px;
}

ul{
  text-align: center;
}

a{
  padding: 5px;
  color: #060930;
  text-decoration: none;
}

a:active{
  underline: nil;
  color: #060930;
  text-decoration: none;
}
